html,
body {
  color: #606060;
  letter-spacing: 1px;
  overflow-x: hidden;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #bcc6cc;
  text-decoration: none;
}

.button {
  color: #606060;
  border: 2px solid #606060;
  padding: 10px 35px;
}

.social-icons i {
  color: #fff;
  font-size: 30px;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.social-icons i:hover {
  color: #bcc6cc;
}

nav {
  position: fixed;
  z-index: 99;
}

nav .social-icons {
  text-align: center;
}

#hamburger {
  background: transparent;
  height: 16px;
  width: 23px;
  position: fixed;
  top: 20px;
  left: 86vw;
  z-index: 99;
  cursor: pointer;
}

#hamburger a:before,
#hamburger a:after,
#hamburger span:before {
  content: "";
  background: #606060;
  width: 23px;
  height: 3px;
  position: absolute;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

#hamburger a:before {
  top: 0;
}

#hamburger a:after {
  top: 6px;
}

#hamburger span:before {
  top: 12px;
}

.off-canvas-menu {
  background: #606060;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  -ms-transform: translateX(100vw);
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.nav-list {
  margin: 60% 10px 5px;
  vertical-align: middle;
}

.nav-item {
  font-size: 24px;
  text-align: center;
}

.nav-item,
.nav-item a {
  color: #fff;
}

.nav-item a:hover {
  color: #bcc6cc;
}

.menu-visible .off-canvas-menu {
  -ms-transform: translateX(0vw);
  -webkit-transform: translateX(0vw);
  transform: translateX(0vw);
}

.menu-visible #hamburger a:before,
.menu-visible #hamburger a:after,
.menu-visible #hamburger span:before {
  background: #fff;
}

.menu-visible #hamburger a:before {
  opacity: 0;
}

.menu-visible #hamburger a:after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 16px;
}

.menu-visible #hamburger span:before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
}

.page-content {
  padding-top: 150px;
  text-align: center;
}

.page-content .button {
  line-height: 100px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.page-content .button:hover {
  color: #fff;
  background: #606060;
  border-color: #606060;
}

.profile-name {
  font-weight: 400;
  margin: 0;
  position: relative;
  bottom: 50px;
}

header {
  padding-bottom: 50px;
}

header h3 {
  font-weight: 400;
  margin: auto 80px;
  color: #bcc6cc;
}

.showcase > h3,
.showcase > p {
  margin: 0;
}

.showcase > p {
  color: #bcc6cc;
  margin-bottom: -50px;
}

.project-item {
  margin-top: 100px;
}

.live-site img {
  width: 111%;
  margin: 0 -15px;
}

.project-title,
.project-definition,
.source-code,
article h3,
article p,
address {
  text-align: left;
}

.project-title {
  margin-top: 80px;
}

footer {
  color: #fff;
  background: #bcc6cc;
  margin-top: 30px;
}

footer a,
footer .button {
  color: #fff;
}

footer .button {
  border: 3px solid #fff;
  padding: 10px 60px;
}

footer h4 {
  margin: 40px auto 10px;
}

.marketing-message {
  border: 3px solid #fff;
  margin: 30px 10px 0;
  height: 200px;
}

.marketing-message p {
  font-size: 18px;
  width: 240px;
  margin: 30px auto -10px;
}

footer .social-icons {
  background: #606060;
  width: 111%;
  margin: 0 -15px 20px;
  padding: 5px 0;
}

#author-info {
  background: url("../img/workspace.jpg") no-repeat;
  background-size: 495px 350px;
  background-position: -100px 0;
}

#author-info .profile-name,
#author-info header h3 {
  color: #fff;
}

#author-info header h3 {
  margin: auto 50px;
}

#author-info article {
  margin-top: 90px;
}

#author-info #skills {
  margin-top: 60px;
}

#skills p {
  margin-bottom: 40px;
}

#skills img {
  width: 77px;
  height: 77px;
  margin: 7px 5px;
}

#personal-goals img {
  width: 100%;
  height: 100%;
}

#macbook-pro {
  color: #bcc6cc;
  text-align: center;
}

address a {
  color: #00c8f8;
  font-size: 18px;
  font-style: normal;
}

#author-info footer {
  margin-top: 90px;
}